$cell-size: 100px;

.board {
    display: grid;
    grid-template-columns: repeat(8, $cell-size);
    grid-template-rows: repeat(8, $cell-size);
    place-content: center;
}

.dark {
    background-color: #b58863;
}

.light {
    background-color: #f0d9b5;
}


.piece {
    width: $cell-size;
    height: $cell-size;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $cell-size $cell-size;
}

.piece:active {
    cursor: grabbing;
}

.piece:hover+.dark {
    color: red;
}